extends e5ojs-base-layout
block e5ojs_block_local_css_script
    link(rel='stylesheet', href=e5ojs_global_data.res.base_url+'/front-end/css/e5ojs-global.css')
    script(type='text/javascript', src=e5ojs_global_data.res.base_url+'/front-end/js/e5ojs-global.js')
    //- link(rel='stylesheet', href=e5ojs_global_data.res.base_url+'/front-end/css/e5ojs-contact.css')
    //- script(type='text/javascript', src=e5ojs_global_data.res.base_url+'/front-end/js/e5ojs-contact.js')
    div(class="container")
        div(class="row")
            div(class="col-xs-12")
                - console.log(" ==== e5ojs_global_data ==== ",e5ojs_global_data);
                - console.log(" ==== e5ojs_page_data ==== ",e5ojs_page_data);
                - console.log(" ==== e5ojs_page_meta_data ==== ",e5ojs_page_meta_data);
                h1=e5ojs_page_data.page_title
                p=e5ojs_page_data.page_content
                h2="Template CONTACT"
