- function set_meta_text(meta_data) {
    div(class="input-field")
        input(id="meta_"+meta_data.meta_name type="text" class="validate" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_textarea(meta_data) {
    div(class="input-field")
        textarea(id="meta_"+meta_data.meta_name class="materialize-textarea" name="meta_"+meta_data.meta_name)=meta_data.post_meta_value
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_calendar(meta_data) {
    div(class="input-field")
        input(id="meta_"+meta_data.meta_name type="date" class="datepicker" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_image(meta_data) {
    div(class="input-field post-meta-image")
        div(class="margin-top-field")
            div(class="image-ajax-load-wrapper")
                img(class="e5ojs-open-media-meta e5ojs-get-ajax-image" media-id=meta_data.post_meta_value src=e5ojs_global_data.admin_res.media_default_image_gallery update_media_id="0" post-meta-value-id="meta_"+meta_data.meta_name post-meta-value-type="")
            input(id="meta_"+meta_data.meta_name class="meta-image-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_gallery(meta_data) {
    div(class="input-field post-meta-image")
        div(class="post-meta-gallery margin-top-field")
            input(type="hidden" class="default-gallery-image-data" post-meta-image-url=e5ojs_global_data.admin_res.media_default_image_gallery post-meta-value-id="meta_"+meta_data.meta_name)
            a(class="btn-floating btn-large waves-effect waves-dark post-meta-gallery-add-new")
                i(class="material-icons")='add'
            - if( meta_data.post_meta_value == "" )
                div(class="image-ajax-load-wrapper")
                    img(class="e5ojs-open-media-meta" src=e5ojs_global_data.admin_res.media_default_image_gallery update_media_id="0" post-meta-value-id="meta_"+meta_data.meta_name post-meta-value-type="json")
        input(id="meta_"+meta_data.meta_name class="meta-image-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_map(meta_key,meta_data) {
    div(class="input-map post-meta-map")
        input(id="meta_"+meta_data.meta_name type="hidden" class="map-data" data-meta-key-map=meta_key name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
        div(class="e5ojs-map")
- }
- function set_meta_imagetext(meta_data) {
    div(class="input-field post-meta-imagetext")
        div(class="imagetext-wrapper margin-top-field")
            - var image_id = "";
            - if( meta_data.post_meta_value != "" )
                - image_id = JSON.parse(meta_data.post_meta_value).image_id;
            img(class="e5ojs-open-media-imagetext-meta e5ojs-get-ajax-image" src=e5ojs_global_data.admin_res.media_default_image_gallery media-id=image_id update_media_id="0" post-meta-value-id="meta_"+meta_data.meta_name post-meta-value-type="json")
            input(id="meta_"+meta_data.meta_name class="meta-image-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            input(class="meta-imagetext" type="hidden" value="")
            a(class="waves-effect waves-light btn modal-trigger imagetext-modal-btn" href="#modal1")="Text"
                i(class="material-icons")="short_text"
        label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
- function set_meta_gallerytext(meta_data) {
    div(class="input-field post-meta-gallerytext")
        div(class="margin-top-field")
            input(type="hidden" class="default-gallery-image-data" post-meta-image-url=e5ojs_global_data.admin_res.media_default_image_gallery post-meta-value-id="meta_"+meta_data.meta_name)
            a(class="btn-floating btn-large waves-effect waves-dark post-meta-gallerytext-add-new")
                i(class="material-icons")='add'
            div(class="post-meta-gallerytext-items")
            input(id="meta_"+meta_data.meta_name class="meta-gallerytext-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
- }
