doctype html
html
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no")
        title="E5OJS - Home"
        block e5ojs_block_global_css_script
            // set data vars script
            script.
                var e5ojs_all_media_url = "#{e5ojs_global_data.e5ojs_all_media_url}";
                var e5ojs_media_sizes_url = "#{e5ojs_global_data.e5ojs_media_url_sizes}";
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/bower_components/jquery/dist/jquery.min.js')
            link(rel='stylesheet', href=e5ojs_global_data.e5ojs_base_url+'/bower_components/bootstrap/dist/css/bootstrap.min.css')
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/bower_components/bootstrap/dist/js/bootstrap.min.js')
            //-link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic')
            //- materialize framework
            link(rel='stylesheet', href=e5ojs_global_data.e5ojs_base_url+'/back-end/css/materialize.min.css')
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/materialize.min.js')
            //- google material icons
            link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
            //- global scripts css
            link(rel='stylesheet', href=e5ojs_global_data.e5ojs_base_url+'/back-end/css/e5ojs-global-admin.css')
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/e5ojs-global-admin.js')
            // e5ojs media
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/jquery-form.js')
            script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/e5ojs-media.js')
        block e5ojs_block_local_css_script
    body(class="body")
        div(class="e5ojs-media-popup-wrapper")
            div(class="container-fluid")
                div(class="col-xs-12")
                    div(class="card")
                        div(class="card-content")
                            div(class="top")
                                p(class="card-title")='E5OJS MEDIA'
                                div(class="media-options")
                                    a(class="waves-effect waves-dark option" data-option="upload")='Upload'
                                    a(class="waves-effect waves-dark option current" data-option="media")='Media library'
                                i(class="material-icons" id="e5ojs-close-media")='close'
                            div(class="bottom")
                                div(class="col-xs-12 content-media-middle")
                                    div(class="upload-wrapper")
                                        form(id="e5ojs-upload-form" enctype="multipart/form-data" action=e5ojs_global_data.e5ojs_base_url+"/admin/upload/" method="post")
                                            p(class="upload-text")="UPLOAD A FILE"
                                            input(type="file" id="e5ojs_file_input" name="e5ojs_files_upload")
                                        span(id="e5ojs-upload-form-status")
                                        div(id="e5ojs-upload-progress-bar-wrapper")
                                            div(id="progress")
                                            p=""
                                    div(class="media-wrapper")
                                        div(class="media-items")
                                div(class="col-xs-12 col-md-12 content-media-bottom")
                                    div(class="media-info")
                                        div(class="no-padding")
                                            img(src="https://placeholdit.imgix.net/~text?txtsize=50&bg=a7a7a7&txtclr=FFFFFF&txt=Preview&w=200&h=200&txttrack=0" class="img-responsive")
                                        div(class="no-padding")
                                            div(class="data")
                                                p(class="title")=''
                                                p(class="title-info")=''
                                                p(class="extra")=''
                                div(class="col-xs-12 aling-right")
                                    a(class="waves-effect waves-dark" id="e5ojs-media-select")='Select'
        div(class="e5o-admin-all-wrapper")
            div(class="e5ojs-header-bar")
                div(class="container-fluid")
                        div(class="search-bar-content")
                            div(class="container")
                                div(class="col-xs-12")
                                    form(method="get")
                                        i(class="material-icons")='search'
                                        input(id="header_bar_search" class="header_bar_search" type="text" name="header_bar_search" placeholder="Search")
                        div(class="col-xs-12")
                            ul(class="content")
                                li(class="content-left")
                                    a(class="e5ojs-btn open-menu")
                                        i(class="material-icons icon-menu")='menu'
                                        i(class="material-icons icon-arrow")='arrow_back'
                                    h1='E5OJS'
                                li(class="content-right")
                                    ul(class="options")
                                        li
                                            a(class="e5ojs-btn search-btn")
                                                i(class="material-icons")='search'
                                        li
                                            a(href=e5ojs_global_data.e5ojs_base_url+"/admin/log-out/" class="e5ojs-btn log-out-btn")
                                                i(class="material-icons")='exit_to_app'
            div(class="e5ojs-menu-left-wrapper")
                div(class="user-info")
                    img(src=e5ojs_global_data.e5ojs_base_url+"/back-end/assets/profile-menu.jpg" class="img-bkg")
                    img(src=e5ojs_global_data.e5ojs_base_url+"/back-end/assets/default-profile-image.jpg" class="img-profile")
                    div(class="user-data-wrapper")
                        p(class="user-data")=e5ojs_user_data.user_name
                        p(class="user-data")=e5ojs_user_data.user_last_name
                ul(class="options")
                    - for (var property_key in e5ojs_global_data.e5ojs_admin_page_url) {
                        li
                            a(href=e5ojs_global_data.e5ojs_admin_page_url[property_key].url class="e5ojs-btn option-btn waves-effect waves-dark")=e5ojs_global_data.e5ojs_admin_page_url[property_key].title
                                i(class="material-icons")=e5ojs_global_data.e5ojs_admin_page_url[property_key].icon_name
                    - }
            div(class="container e5ojs-content-right-wrapper")
                - if( typeof(e5ojs_message) !== 'undefined' && e5ojs_message.status )
                    div(class="e5ojs-message "+e5ojs_message.type+"-message")
                        i(class="material-icons")=e5ojs_message.type
                        p(class="message")=e5ojs_message.text
                div(class="row")
                    div(class="col-xs-12 no-padding")
                        h2(class="page-title")=title
                        p(class="page-description")=description
                block e5ojs_block_content
        div(class="e5o-admin-footer-wrapper")
            block e5ojs_block_footer
