extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
    link(rel='stylesheet', href=e5ojs_global_data.e5ojs_base_url+'/back-end/css/summernote.css')
    script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/summernote.js')
    script(type='text/javascript', src=e5ojs_global_data.e5ojs_base_url+'/back-end/js/e5ojs-new-edit-post.js')
block e5ojs_block_content
    - var post_data = result_query_data;
    form(id="e5ojs-post-form-wrapper" action=e5ojs_global_data.e5ojs_base_url+"/admin/posts/action/edit-post/"+post_data.post_id+"/" method="post")
        div(class="row top-page-options")
            div(class="col-xs-12 no-padding")
                div(class="post-actions")
                    a(data-status="publish" class="waves-effect waves-dark "+(( post_data.post_status == "publish" )?" current":""))='Publish'
                    a(data-status="pending" class="waves-effect waves-dark "+(( post_data.post_status == "pending" )?" current":""))='Pending'
                    a(data-status="trash" class="waves-effect waves-dark "+(( post_data.post_status == "trash" )?" current":""))='Trash'
        div(class="row")
            div(class="col-xs-12 col-md-12")
                div(class="card")
                    div(class="card-image")
                        img(class="e5ojs-open-media"  src=post_data.post_media_attachment_url+"")
                        span(class="card-title")='Post Info'
                        input(type="hidden" name="post_media_id" class="post_media_id" value=post_data.post_media_attachment_id)
                    div(class="card-content")
                        a(href=e5ojs_global_data.e5ojs_base_url+"/admin/posts/action/new-post/" class="btn-floating btn-large waves-effect waves-dark add-new")
                            i(class="material-icons")='add'
                        div(class="input-field")
                            input(id="post_title" type="text" class="validate" name="post_title" value=post_data.post_title+"")
                            label(for="post_title")='Post title'
                        div(class="summernote-wrapper")
                            label(for="post_content")='Post content'
                            textarea(id="post_content" class="materialize-textarea" name="post_content")=post_data.post_content
                        div(class="input-field")
                            textarea(id="post_excerpt" class="materialize-textarea" name="post_excerpt")=post_data.post_excerpt
                            label(for="post_excerpt")='Post excerpt'
                        input(type="date" class="datepicker" name="post_date" value=post_data.post_date+"")
