extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
    link(rel='stylesheet', href=e5ojs_global_data.admin_res.base_url+'/back-end/css/summernote.css')
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/summernote.js')
    script(type='text/javascript' src='http://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/e5ojs-new-edit-post.js')
block e5ojs_block_content
    - var post_type_name = e5ojs_global_data.e5ojs_current_post_type;
    - var post_data = result_query_data;
    div(id="page-modal" class="modal")
        div(class="modal-content")
            h4="Edit value"
            div(class="input-field")
                input(type="text" class="modal-value" value="-")
                label(for="modaltext")="Text"
        div(class="modal-footer")
            a(href="#!" class="modal-close waves-effect waves-light btn")="Agree"
                i(class="material-icons")="done"
    form(id="e5ojs-post-form-wrapper" action=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.edit+post_data.post_id+"/" method="post")
        div(class="row top-page-options no-padding")
            div(class="col-xs-12 no-padding")
                div(class="post-actions")
                    a(data-status="publish" class="waves-effect waves-dark "+(( post_data.post_status == "publish" )?" current":""))='Publish'
                    a(data-status="pending" class="waves-effect waves-dark "+(( post_data.post_status == "pending" )?" current":""))='Pending'
                    a(data-status="trash" class="waves-effect waves-dark "+(( post_data.post_status == "trash" )?" current":""))='Trash'
        div(class="row")
            div(class="col-xs-12 col-md-12 no-padding")
                div(class="card")
                    div(class="card-image")
                        img(class="e5ojs-open-media e5ojs-get-ajax-image" media-id=post_data.post_media_attachment_id e5ojs-image-get-size="800x200" src=e5ojs_global_data.admin_res.media_default_image_url)
                        span(class="card-title")='Post Info'
                        input(type="hidden" name="post_media_id" class="post_media_id" value=post_data.post_media_attachment_id)
                    div(class="card-content")
                        a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.new class="btn-floating btn-large waves-effect waves-dark add-new")
                            i(class="material-icons")='add'
                        div(class="input-field")
                            input(id="post_title" type="text" class="validate" name="post_title" value=post_data.post_title+"")
                            label(for="post_title")='Post title'
                        div(class="summernote-wrapper")
                            label(for="post_content")='Post content'
                            textarea(id="post_content" class="materialize-textarea" name="post_content")=post_data.post_content
                        div(class="input-field")
                            textarea(id="post_excerpt" class="materialize-textarea" name="post_excerpt")=post_data.post_excerpt
                            label(for="post_excerpt")='Post excerpt'
                        div(class="input-field")
                            input(type="date" class="datepicker" name="post_date" value=post_data.post_date+"")
                            label(for="post_date")='Post date'
        - if( post_data.post_type_meta.length > 0 ) {
            div(class="row")
                div(class="col-xs-12 col-md-12 no-padding")
                    div(class="card")
                        div(class="card-content post-meta-content")
                            span(class="card-title")='Post Meta'
                            //- metas { meta_title: 'aaa', meta_name: 'aaa', meta_type: 'text' }
                            - for( var meta_key in post_data.post_type_meta ) {
                                - var meta = post_data.post_type_meta[meta_key];
                                - if( meta.meta_type == "text" ) {
                                    - set_meta_text(meta);
                                - }
                                - if( meta.meta_type == "textarea" ) {
                                    - set_meta_textarea(meta);
                                - }
                                - if( meta.meta_type == "calendar" ) {
                                    - set_meta_calendar(meta);
                                - }
                                - if( meta.meta_type == "image" ) {
                                    - set_meta_image(meta);
                                - }
                                - if( meta.meta_type == "gallery" ) {
                                    - set_meta_gallery(meta);
                                - }
                                - if( meta.meta_type == "map" ) {
                                    - set_meta_map(meta_key,meta);
                                - }
                                - if( meta.meta_type == "imagetext" ) {
                                    - set_meta_imagetext(meta);
                                -}
                                - if( meta.meta_type == "gallerytext" ) {
                                    - set_meta_gallerytext(meta);
                                - }
                            - }
        - }
    include e5ojs-admin-fields
