extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
block e5ojs_block_content
    - if( typeof post_type_info === 'undefined' ) {
        form(id="e5ojs-post-type-form-wrapper" action=e5ojs_global_data.admin_pages.post_type.url+e5ojs_global_data.admin_actions.post_types.edit method="post")
            div(class="row")
                div(class="col-xs-12 no-padding")
                    div(class="card")
                        div(class="card-content")
                            span(class="card-title")='NEW'
                            div(class="input-field")
                                input(id="post_type_title" type="text" class="validate" name="post_type_title")
                                label(for="post_type_title")='Title'
                            div(class="input-field")
                                input(id="post_type_name" type="text" class="validate" name="post_type_name")
                                label(for="post_type_name")='Name'
                            div(class="input-field")
                                input(id="post_type_description" type="text" class="validate" name="post_type_description")
                                label(for="post_type_description")='Description'
                            div(class="switch")
                                label
                                    !='Desactive'
                                    input(type="checkbox" name="post_type_status")
                                    span(class="lever")
                                    !='Active'
                            div(class="aling-right")
                                button( type="submit" class="waves-effect waves-dark btn")='SAVE'
    - } else {
        form(id="e5ojs-post-type-form-wrapper" action=e5ojs_global_data.admin_pages.post_type.url+e5ojs_global_data.admin_actions.post_types.edit+post_type_info.post_type_id+"/" method="post")
            div(class="row")
                div(class="col-xs-12 no-padding")
                    div(class="card")
                        div(class="card-content")
                            span(class="card-title")='NEW'
                            div(class="input-field")
                                input(id="post_type_title" type="text" class="validate" name="post_type_title" value=post_type_info.post_type_title)
                                label(for="post_type_title")='Title'
                            div(class="input-field")
                                input(id="post_type_name" type="text" class="validate" name="post_type_name" value=post_type_info.post_type_name)
                                label(for="post_type_name")='Name'
                            div(class="input-field")
                                input(id="post_type_description" type="text" class="validate" name="post_type_description" value=post_type_info.post_type_description)
                                label(for="post_type_description")='Description'
                            div(class="switch")
                                - var active = (( parseInt(post_type_info.post_type_status) == 1)?'checked':'');
                                - if( parseInt(post_type_info.post_type_status) == 1 ) {
                                    label
                                        !='Deactive'
                                        input(type="checkbox" name="post_type_status" checked)
                                        span(class="lever")
                                    !='Active'
                                - } else {
                                    label
                                        !='Deactive'
                                        input(type="checkbox" name="post_type_status")
                                        span(class="lever")
                                        !='Active'
                                - }
            div(class="row")
                div(class="col-xs-12 no-padding")
                    div(class="card")
                        div(class="card-content")
                            span(class="card-title")='Post type Post-Meta'
                            ul(class="tabs")
                                li(class="tab")
                                    a(href="#new_meta" class="active")='New meta'
                                li(class="tab")
                                    a(href="#current_metas" class="")='Current metas'
                            div(id="new_meta" class="new-meta content-tab")
                                div(class="col-xs-12")
                                    - print_row_meta_data();
                            div(id="current_metas" class="current-metas content-tab")
                                - var post_type_total_metas = -1;
                                - for( var post_type_meta_key in post_type_info.post_type_meta ) {
                                    - post_type_total_metas = post_type_total_metas + 1;
                                    - var meta_data = post_type_info.post_type_meta[post_type_meta_key];
                                    div(clas="row no-padding")
                                        - print_row_meta_data_update(post_type_total_metas,meta_data);
                                - }
                                input(type="hidden" name="update_finish" value=post_type_total_metas)
                            div(class="aling-right")
                                button( type="submit" class="waves-effect waves-dark btn")='SAVE'
    - }
    
    - function print_row_meta_data() {
        div(class="input-field")
            input(id="post_type_meta_title" type="text" class="validate" name="post_type_meta_title")
            label(for="post_type_meta_title")='Title'
        div(class="input-field")
            input(id="post_type_meta_name" type="text" class="validate" name="post_type_meta_name")
            label(for="post_type_meta_name")='Name (ID)'
        p
            input(name="post_type_meta_type" type="radio" id="text" value="text" checked)
            label(for="text")='Text'
        p
            input(name="post_type_meta_type" type="radio" id="textarea" value="textarea")
            label(for="textarea")='Textarea'
        p
            input(name="post_type_meta_type" type="radio" id="image" value="image")
            label(for="image")='Image'
        p
            input(name="post_type_meta_type" type="radio" id="gallery" value="gallery")
            label(for="gallery")='Gallery'
        p
            input(name="post_type_meta_type" type="radio" id="calendar" value="calendar")
            label(for="calendar")='Calendar'
    - }
    
    - function print_row_meta_data_update(post_type_meta_key,meta_data) {
        - var post_meta_data = {meta_title:"",meta_name:"",meta_type:"",};
        - var post_type_meta_type = "";
        - if( meta_data !== undefined ) {
            - post_meta_data.meta_title = meta_data.meta_title;
            - post_meta_data.meta_name = meta_data.meta_name;
            - if( String(meta_data.meta_type) == "text" )
                - post_type_meta_type = "text";
            - else if( String(meta_data.meta_type) == "textarea" )
                    - post_type_meta_type = "textarea";
            - else if( String(meta_data.meta_type) == "image" )
                    - post_type_meta_type = "image";
            - else if( String(meta_data.meta_type) == "gallery" )
                    - post_type_meta_type = "gallery";
            - else if( String(meta_data.meta_type) == "calendar" )
                    - post_type_meta_type = "calendar";
        - }
        div(class="col-xs-12 col-md-4")
            div(class="input-field")
                input(id=post_type_meta_key+"_meta_title" type="text" class="validate" name=post_type_meta_key+"_meta_title" value=post_meta_data.meta_title)
                label(for=post_type_meta_key+"_meta_title")='Title'
        div(class="col-xs-12 col-md-4")
            div(class="input-field")
                input(id=post_type_meta_key+"_meta_name" type="text" class="validate" name=post_type_meta_key+"_meta_name" value=post_meta_data.meta_name)
                label(for=post_type_meta_key+"_meta_name")='Name (ID)'
        div(class="col-xs-12 col-md-4")
            div(class="input-field")
                select(name=post_type_meta_key+"_meta_type")
                    - var attributes = "";
                    - if( post_type_meta_type == "text" ) {
                        - attributes = {"selected":"selected"};
                    - }
                    option(value="text")&attributes(attributes)='text'
                    - attributes = "";
                    - if( post_type_meta_type == "textarea" ) {
                        - attributes = {"selected":"selected"};
                    - }
                    option(value="textarea")&attributes(attributes)='textarea'
                    - attributes = "";
                    - if( post_type_meta_type == "image" ) {
                        - attributes = {"selected":"selected"};
                    - }
                    option(value="image")&attributes(attributes)='image'
                    - attributes = "";
                    - if( post_type_meta_type == "gallery" ) {
                        - attributes = {"selected":"selected"};
                    - }
                    option(value="gallery")&attributes(attributes)='gallery'
                    - attributes = "";
                    - if( post_type_meta_type == "calendar" ) {
                        - attributes = {"selected":"selected"};
                    - }
                    option(value="calendar")&attributes(attributes)='calendar'
                label='Meta type'
    - }
