extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
block e5ojs_block_content
    form(id="e5ojs-post-type-form-wrapper" action=e5ojs_global_data.e5ojs_admin_page_url.post_type.url+"action/new/" method="post")
        div(class="row")
            div(class="col-xs-12")
                div(class="card")
                    div(class="card-content")
                        span(class="card-title")='NEW'
                        div(class="input-field")
                            input(id="post_type_title" type="text" class="validate" name="post_type_title")
                            label(for="post_type_title")='Title'
                        div(class="input-field")
                            input(id="post_type_name" type="text" class="validate" name="post_type_name")
                            label(for="post_type_name")='Name'
                        div(class="input-field")
                            input(id="post_type_description" type="text" class="validate" name="post_type_description")
                            label(for="post_type_description")='Description'
                        div(class="aling-right")
                            button( type="submit" class="waves-effect waves-dark btn")='SAVE'
                            
                
