extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/summernote.js')
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/e5ojs-new-edit-post.js')
block e5ojs_block_content
    div(class="row top-page-options no-padding")
        div(class="col-xs-12 no-padding")
            - var post_type_name = e5ojs_global_data.e5ojs_current_post_type;
            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+"all/page/1/" class="waves-effect waves-dark "+(( post_status == "all" )?" current":""))='All'
            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+"publish/page/1/" class="waves-effect waves-dark "+(( post_status == "publish" )?" current":""))='Publish'
            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+"pending/page/1/" class="waves-effect waves-dark "+(( post_status == "pending" )?" current":""))='Pending'
            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+"trash/page/1/" class="waves-effect waves-dark "+(( post_status == "trash" )?" current":""))='Trash'
    div(class="row")
        div(class="col-xs-12 no-padding")
            ul(class="collapsible popout custom-collapsible" data-collapsible="accordion")
                li(class="custom-collapsible-header")
                    input(id="select-all" class="filled-in" type="checkbox" )
                    label(for='select-all' class="checkbox-center")
                    ul(id="dropdown2" class="dropdown-content bulk-actions")
                        li
                            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"publish/")="Publish"
                        li
                            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"pending/")="Pending"
                        li
                            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"trash/")="Trash"
                        li
                            a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"delete/")="Delete"
                    a.btn.dropdown-button(href='#!', data-activates='dropdown2')='Bulk action'
                      i.mdi-navigation-arrow-drop-down.right
                    a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.new class="waves-effect waves-dark btn")='Add new'
                        i(class="material-icons")='add'
                - var e5ojs_posts = result_query_data;
                each post, index in e5ojs_posts
                    - var letter = post.post_title.charAt(0).toUpperCase();
                    - var color_hex = (( post.post_status == "publish" )?"4CAF50": ((post.post_status == "pending")?"FDD835":"F44336") );
                    li(class="custom-collapsible-item" data-collection-id=post.post_id)
                        div(class="collapsible-header")
                            input(id="checkbox-"+post.post_id class="filled-in row-checkbox" type="checkbox")
                            label(for='checkbox-'+post.post_id class="checkbox-center")
                            img(src="https://placeholdit.imgix.net/~text?txtsize=50&bg="+color_hex+"&txtclr=FFFFFF&txt="+letter+"&w=100&h=100&txttrack=0" alt="" class="circle")    
                            p(class="title")
                                span()=post.post_title
                                span(class="excerpt")=post.post_excerpt
                            div(class="secondary-content")
                                a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"edit/"+post.post_id+"/")
                                    i(class="material-icons")='mode_edit'
                                a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"publish/"+post.post_id+"/")
                                    i(class="material-icons")='public'
                                a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"pending/"+post.post_id+"/")
                                    i(class="material-icons")='archive'
                                a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"trash/"+post.post_id+"/")
                                    i(class="material-icons")='delete'
                                a(href=e5ojs_global_data.admin_pages.admin_post_types[post_type_name].url+e5ojs_global_data.admin_actions.post_type.action+"delete/"+post.post_id+"/")
                                    i(class="material-icons")='delete_forever'
                        div(class="collapsible-body")
                            div(class="post-content")=post.post_content
                li(class="custom-collapsible-footer")
                    ul(class="e5ojs-pagination")
                        - for( var page_key in e5ojs_pagination ) {
                            - page_data = e5ojs_pagination[page_key];
                            a(href=page_data.url class=page_data.current)
                                li(class="item")
                                    span=page_data.number
                        - }
                    
            
                
