extends e5ojs-base-layout-admin
block e5ojs_block_local_css_script
    link(rel='stylesheet', href=e5ojs_global_data.admin_res.base_url+'/back-end/css/summernote.css')
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/summernote.js')
    script(type='text/javascript' src='http://maps.googleapis.com/maps/api/js')
    script(type='text/javascript', src=e5ojs_global_data.admin_res.base_url+'/back-end/js/e5ojs-new-edit-post.js')
block e5ojs_block_content
    - if( pages_data == null ) {
        form(id="e5ojs-post-form-wrapper" action=e5ojs_global_data.admin_pages.pages.url+e5ojs_global_data.admin_actions.page.action+"edit/" method="post")
            div(class="row top-page-options no-padding")
                div(class="col-xs-12 no-padding")
                    div(class="post-actions")
                        a(data-status="publish" class="waves-effect waves-dark "+(( page_status == "publish" )?" current":""))='Publish'
                        a(data-status="pending" class="waves-effect waves-dark "+(( page_status == "pending" )?" current":""))='Pending'
                        a(data-status="trash" class="waves-effect waves-dark "+(( page_status == "trash" )?" current":""))='Trash'
            div(class="row")
                div(class="col-xs-12 col-md-12 no-padding")
                    div(class="card")
                        div(class="card-image")
                            img(class="e5ojs-open-media" src=e5ojs_global_data.admin_res.media_default_image_url)
                            span(class="card-title")='Page Info'
                            input(type="hidden" name="page_media_id" class="post_media_id")
                        div(class="card-content")
                            div(class="input-field")
                                input(id="page_title" type="text" class="validate" name="page_title")
                                label(for="page_title")='Page title'
                            div(class="summernote-wrapper")
                                label(for="page_content")='Page content'
                                textarea(id="post_content" class="materialize-textarea" name="page_content")
                            div(class="input-field")
                                textarea(id="page_excerpt" class="materialize-textarea" name="page_excerpt")
                                label(for="page_excerpt")='Page excerpt'
                            div(class="input-field")
                                input(type="date" class="datepicker" name="page_date" value=e5ojs_global_data.admin_res.current_date)
                                label(for="page_date")='Page date'
                            div(class="input-field")
                                select(name="page_template")
                                    option(value="default")="Default"
                                    - for( key_template in e5ojs_templates_json.templates ) {
                                        option(value=key_template)=key_template
                                    - }
                                label(for="page_template")='Page template'
    - } else {
        - var page_data_object = pages_data[0];
        - var page_status = page_data_object.page_status;
        form(id="e5ojs-post-form-wrapper" action=e5ojs_global_data.admin_pages.pages.url+e5ojs_global_data.admin_actions.page.action+"edit/"+page_data_object.page_id+"/" method="post")
            div(class="row top-page-options no-padding")
                div(class="col-xs-12 no-padding")
                    div(class="post-actions")
                        a(data-status="publish" class="waves-effect waves-dark "+(( page_status == "publish" )?" current":""))='Publish'
                        a(data-status="pending" class="waves-effect waves-dark "+(( page_status == "pending" )?" current":""))='Pending'
                        a(data-status="trash" class="waves-effect waves-dark "+(( page_status == "trash" )?" current":""))='Trash'
            div(class="row")
                div(class="col-xs-12 col-md-12 no-padding")
                    div(class="card")
                        div(class="card-image")
                            img(class="e5ojs-open-media" src=page_data_object.post_media_attachment_url)
                            span(class="card-title")='Page Info'
                            input(type="hidden" name="page_media_id" class="post_media_id" value=page_data_object.post_media_attachment_id)
                        div(class="card-content")
                            a(href=e5ojs_global_data.admin_pages.pages.url+e5ojs_global_data.admin_actions.page.action+"new/" class="btn-floating btn-large waves-effect waves-dark add-new")
                                i(class="material-icons")='add'
                            div(class="input-field")
                                input(id="page_title" type="text" class="validate" name="page_title" value=page_data_object.page_title)
                                label(for="page_title")='Page title'
                            div(class="summernote-wrapper")
                                label(for="page_content")='Page content'
                                textarea(id="post_content" class="materialize-textarea" name="page_content")=page_data_object.page_content
                            div(class="input-field")
                                textarea(id="page_excerpt" class="materialize-textarea" name="page_excerpt")=page_data_object.page_excerpt
                                label(for="page_excerpt")='Page excerpt'
                            div(class="input-field")
                                input(type="date" class="datepicker" name="page_date" value= value=page_data_object.page_date)
                                label(for="page_date")='Page date'
                            div(class="input-field")
                                - var page_template =  value=page_data_object.page_template;
                                select(name="page_template")
                                    option(value="default")="Default"
                                    - for( key_template in e5ojs_templates_json.templates ) {
                                        - attributes = "";
                                        - if( page_template == key_template ) {
                                            - attributes = {"selected":"selected"};
                                        - }
                                        option(value=key_template)&attributes(attributes)=key_template
                                    - }
                                label(for="page_template")='Page template'

            - if( page_data_object.settings_page_metas.length > 0 ) {
                div(class="row")
                    div(class="col-xs-12 col-md-12 no-padding")
                        div(class="card")
                            div(class="card-content post-meta-content")
                                span(class="card-title")='Page Meta'

                                //- metas { meta_title: 'aaa', meta_name: 'aaa', meta_type: 'text' }
                                //- console.log(" === PAGE METAS === ",page_data_object.settings_page_metas);
                                - for( var meta_key in page_data_object.settings_page_metas ) {
                                    - var meta = page_data_object.settings_page_metas[meta_key];

                                    //- get only page metas
                                    - if( meta.meta_page_id == page_data_object.page_id ) {
                                        - if( meta.meta_type == "text" ) {
                                            - set_meta_text(meta);
                                        - }
                                        - if( meta.meta_type == "textarea" ) {
                                            - set_meta_textarea(meta);
                                        - }
                                        - if( meta.meta_type == "calendar" ) {
                                            - set_meta_calendar(meta);
                                        - }
                                        - if( meta.meta_type == "image" ) {
                                            - set_meta_image(meta);
                                        - }
                                        - if( meta.meta_type == "gallery" ) {
                                            - set_meta_gallery(meta);
                                        - }
                                        - if( meta.meta_type == "map" ) {
                                            - set_meta_map(meta_key,meta);
                                        - }
                                    - }

                                - }
            - }
    - }


    - function set_meta_text(meta_data) {
        //- console.log(" === meta_data === ",meta_data);
        div(class="input-field")
            input(id="meta_"+meta_data.meta_name type="text" class="validate" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
    - }
    - function set_meta_textarea(meta_data) {
        div(class="input-field")
            textarea(id="meta_"+meta_data.meta_name class="materialize-textarea" name="meta_"+meta_data.meta_name)=meta_data.post_meta_value
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
    - }
    - function set_meta_calendar(meta_data) {
        div(class="input-field")
            input(id="meta_"+meta_data.meta_name type="date" class="datepicker" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
    - }
    - function set_meta_image(meta_data) {
        div(class="input-field post-meta-image")
            img(class="e5ojs-open-media-meta" src=e5ojs_global_data.admin_res.media_default_image_gallery update_media_id="0" post-meta-value-id="meta_"+meta_data.meta_name post-meta-value-type="")
            input(id="meta_"+meta_data.meta_name class="meta-image-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
    - }
    - function set_meta_gallery(meta_data) {
        div(class="input-field post-meta-image")
            div(class="post-meta-gallery")
                input(type="hidden" class="default-gallery-image-data" post-meta-image-url=e5ojs_global_data.admin_res.media_default_image_gallery post-meta-value-id="meta_"+meta_data.meta_name)
                a(class="btn-floating btn-large waves-effect waves-dark post-meta-gallery-add-new")
                    i(class="material-icons")='add'
                - if( meta_data.post_meta_value == "" )
                    img(class="e5ojs-open-media-meta" src=e5ojs_global_data.admin_res.media_default_image_gallery update_media_id="0" post-meta-value-id="meta_"+meta_data.meta_name post-meta-value-type="json")
            input(id="meta_"+meta_data.meta_name class="meta-image-id" type="hidden" name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
    - }
    - function set_meta_map(meta_key,meta_data) {
        div(class="input-map")
            input(id="meta_"+meta_data.meta_name type="hidden" class="map-data" data-meta-key-map=meta_key name="meta_"+meta_data.meta_name value=meta_data.post_meta_value)
            label(for="meta_"+meta_data.meta_name)=meta_data.meta_title
            div(class="e5ojs-map")
    - }
